<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--my css page linked-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<title></title>
</head>
<body>

<!--this will contain the header and it's menu-->


<div class="container-fluid" id="header"> 
	<div class="col-md-1">
	</div>
	<div class="col-md-2">
		<img id="smallLogo" src="assets/img/smallogo.svg">
	</div>

	<div class="col-md-4" id="menu">
				
		<!--links inside the page-->
		<a class="menuItem" href="/adopt">Adoption</a>
		<a class="menuItem" href="/login">Login</a>
		<a class="menuItem" href="/donate">Donate</a>

	</div>

	<div class="col-md-2">
		<img src="assets/img/headerpic.png" id="headerpic">
	</div>				
</div>

			{{{body}}}


<!-- this contains the footer and it's links-->


<div class="container-fluid">			
	<div class="row" id="footer">
		<div class="col-md-2" >
		    <p id="footerP"> Follow Us</p>
		</div>
		<div class="col-md-2" >
			<img class="logo" src="assets/img/fb.png">
			<img class="logo" src="assets/img/instagram.png">
			<img class="logo" src="assets/img/twitter.png">
			<img class="logo" src="assets/img/pinterest.png">
		</div>
	</div>
</div>

</body>
</html>