<div class="container-fluid" >

		<div class="row" >	
			
				<div class="col-md-12" ><h1 class="adoptions">Adoptions</h1>
		</div>
		</div>

			<div class="row" >

		

				<div class="col-md-1"></div>
				<div class="col-md-7" id="divtxt">

					<div>
					<h1 class="title">What to expect when you arrive at home</h1>
					<p>Bringing home a new pet is exciting!  The experience of going home with a new family can also be a stressful and frightening for the animal.

					Be calm and patient with your new pet.  Realize that a new environment can take some getting used to and he or she may act differently once acclimated to their new home.  Certain words, objects, or situations may bring about a reaction that you weren't expecting.  The new family member may or may not have been previously trained in the same manner that you wish to train them.  Read some tips on what to do before you bring a pet home, during the first couple of days, and beyond.
					</p><br/></div><hr>

					

					<div >
						<h1 class="title">What to bring to the Animal Shelter</h1>
							<h3 >Come prepared!</h3>

								<p >If you rent, we require that you obtain permission from your landlord and understand your pet policies prior to adopting
								A driver's license or other valid photo identification
								We run adoption fee specials through out the year but standard adoption prices are:
								<ul >
									<li>$50 for cats and $100 for kittens.</li>
									<li>Dog adoption fees range from $75 to $300.</li>
									<li>The range of fees helps offset the price of housing some pets for extended periods of time.  We do not euthanize for time or space.</li>
									</ul></p> <hr>
				</div>

					<div id="adoptionb">
						<a href="#"><img  id="dogbutton2"  src="assets/img/dogbutton.svg" alt="dog button"></a>
						<a  href="#"><img id="catbutton2" src="assets/img/catbutton.svg" alt="cat button"></a>
					</div></div>

				<div class="col-md-3" id="divtxt">

					
					<div class="mainbody">
						<p id="furryData">
						<h1 id="furry">Furry friend of the Month</h1>
						<img class="img-responsive" id="furryImg" src="assets/img/bosley_720.jpg">
						<h1 class="furryTitle">Bosley</h1>
						<br>
						<p>Dog • Pit Bull Terrier & Staffordshire Bull Terrier Mix • Adult • Male • Medium
						Furever Bully Love Rescue Orlando, FL</p>
						<br>
 
		<h1 class="furryTitle">ABOUT BOSLEY</h1><br>
		<h3><em>Bosley is now available for adoption!</em></h3>
		<p>He was originally saved from deathrow at OCAS 3 months ago. He underwent all his medical treatments then was transferred to All Terrain Canine to complete his 6 week board & train program. 
		Bosley is 2 yrs old male, UTD, neutered & microchipped. He is crate & house trained. Knows basic commands. Although, he has progressed tremendously he still needs time to adjust to other animals in the home. He will need to be the only animal in the home at this time. He does fine w other animals in a public environment. He is currently in Edgewater FL. And is available for meet & greets! 
		Don't let his scars fool u.. His split tongue & eye trauma are just examples that your past does NOT define your future!! Please let us know if you would like to meet Bosley!</p>
					</div>

					
				</div>
				
			</div>
		</div>

		<div class="conteiner-fluid">
			<div class="row">
				<div class="col-md-1"></div>

				<div class="col-md-4">

							<h1 class="adoptions2">list a pet </h1>
						    <div class="col-sm-offset-2 col-sm-10">
						    	<a href="/listpet">
						      <button type="submit" class="btn btn-lg" id="listItB" >List Now!</button></a>

						  </div>
				</div>
						
				
					

				<div class="col-md-4 mainbody2">
					<form> <h1 class="title" style="text-align:center; color:white;">Find a Pet</h1>
			<!--type of animal-->
			<div class="form-group col-sm-3">
				<label for="Type">Type</label>
	   				 <select class="form-control">
	   					  <option id="anyTypeOpt">Any</option>
						  <option id="catOpt">Cat</option>
						  <option id="dogOpt">Dog</option>
						  <option id="birdOpt">Bird</option>
						  <option id="rodentOpt">Rodent</option>
					</select>
  			</div>
  			
  			<!--Breed-->
  			<div class="form-group col-sm-5">
   				 <label for="Breed">Breed</label>
   				 <input type="text" class="form-control" id="breedopt" placeholder="Breed">
  			</div>

  			<div class="form-group col-sm-4">
   				 <label for="Location">Location</label>
   				 <input type="text" class="form-control" id="zipCode" placeholder="Zipcode">
  			</div>

  				<button type="submit" class="btn btn-default" id="searchB">Search</button>

  				</form>	
			</div>
		</div>
			
		</div>

		<div class="container-fluid" >
			<div class="row" id="dg1" >
				<div class="col-md-2"></div>

				<div class="col-md-8">
					<img class="img-responsive" src="assets/img/dg1.svg">
				</div>

			</div>
</div>