<div class="container-fluid" >

		<div class="row" >	
			
				<div class="col-md-12" ><h1 id="adoptions">Adoptions</h1>
		</div>
		</div>

			<div class="row" >

		

				<div class="col-md-1"></div>
				<div class="col-md-7" id="divtxt">

					<div>
					<h1 class="title">What to expect when you arrive at home</h1>
					<p>Bringing home a new pet is exciting!  The experience of going home with a new family can also be a stressful and frightening for the animal.

					Be calm and patient with your new pet.  Realize that a new environment can take some getting used to and he or she may act differently once acclimated to their new home.  Certain words, objects, or situations may bring about a reaction that you weren't expecting.  The new family member may or may not have been previously trained in the same manner that you wish to train them.  Read some tips on what to do before you bring a pet home, during the first couple of days, and beyond.
					</p><br/></div><hr>

					

					<div >
						<h1 class="title">What to bring to the Animal Shelter</h1>
							<h3 >Come prepared!</h3>

								<p >If you rent, we require that you obtain permission from your landlord and understand your pet policies prior to adopting
								A driver's license or other valid photo identification
								We run adoption fee specials through out the year but standard adoption prices are:
								<ul >
									<li>$50 for cats and $100 for kittens.</li>
									<li>Dog adoption fees range from $75 to $300.</li>
									<li>The range of fees helps offset the price of housing some pets for extended periods of time.  We do not euthanize for time or space.</li>
									</ul></p> <hr>
				</div>

					<div id="adoptionb">
						<a href="#"><img  id="dogbutton2"  src="assets/img/dogbutton.svg" alt="dog button"></a>
						<a  href="#"><img id="catbutton2" src="assets/img/catbutton.svg" alt="cat button"></a>
					</div></div>

				<div class="col-md-3" id="divtxt">

					
					<div class="mainbody">
						<p id="furryData">
						<h1 id="furry">Furry friend of the Month</h1>
						<img class="img-responsive" id="furryImg" src="assets/img/dog1.jpg">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat nulla et enim dapibus vestibulum. Morbi luctus ornare ante lacinia egestas. Nam hendrerit diam dolor, sed blandit sem iaculis sed. Nam vitae elementum mauris. Suspendisse leo ex, laoreet sed lorem cursus, blandit tempor risus. Proin eget eros luctus, gravida velit ac, imperdiet eros. Pellentesque efficitur turpis quis leo blandit, quis tempor lectus vestibulum. Etiam non dictum enim. Donec augue sem, commodo vel elementum ut, sagittis in leo. Ut id ullamcorper dui. Sed interdum imperdiet neque, facilisis varius massa. Maecenas sollicitudin massa in augue dapibus auctor.</p>
					</div>

					
				</div>
				
			</div>
		</div>

		<div class="conteiner-fluid">
			<div class="row">
				<div class="col-md-1"></div>

				<div class="col-md-4">
			
				<form class="form-horizontal list">

						<h1 class="title" style="text-align:center;">List a Pet</h1>
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <div class="checkbox">
						        <label>
						          <input type="checkbox"> Remember me
						        </label>
						      </div>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default">List It!</button>
						   


						      <button type="button" class="btn btn-default" action="/login/create" method="POST">New User</button>

						  </div></div>
						</form>
				
<form class="create-update-form" action="login/create" method="POST">
					  <div class="form-group">
					    <label for="un">Username:</label>
					    <input type="text" id="un" name="users_name">
					  </div>

					  <div class="form-group">
					    <label for="em">Email:</label>
					    <input type="text" id="em" name="email_address">
					  </div>

					  <div class="form-group">
					    <label for="pass">Password:</label>
					    <input type="password" id="pass" name="password">
					  </div>

					  <button type="submit">Sign Up!</button>
					</form>

				
					</div>

				<div class="col-md-1"></div>	

				<div class="col-md-4 mainbody2">
					<form> <h1 class="title" style="text-align:center; color:white;">Find a Pet</h1>
			<!--type of animal-->
			<div class="form-group col-sm-3">
				<label for="Type">Type</label>
	   				 <select class="form-control">
	   					  <option id="anyTypeOpt">Any</option>
						  <option id="catOpt">Cat</option>
						  <option id="dogOpt">Dog</option>
					</select>
  			</div>
  			<!--Age-->
  			<div class="form-group col-sm-4">
   				 <label for="Age">Age</label>
   				 <input type="text" class="form-control" id="ageOpt" placeholder="Age">
  			</div>

  			<!--Breed-->
  			<div class="form-group col-sm-5">
   				 <label for="Breed">Breed</label>
   				 <input type="text" class="form-control" id="breedopt" placeholder="Breed">
  			</div>

  			<div class="form-group col-sm-4">
   				 <label for="color">Color</label>
   				 <input type="text" class="form-control" id="colorOpt" placeholder="Color">
  			</div>

  			<div class="form-group col-sm-3">
				<label for="Sex">Sex</label>
	   				 <select class="form-control">
	   				 	  <option id="anySexOpt">Any</option>
						  <option id="femOpt">Female</option>
						  <option id="maleOpt">Male</option>
					</select>
  			</div>

  			<div class="form-group col-sm-4">
   				 <label for="Location">Location</label>
   				 <input type="text" class="form-control" id="zipCode" placeholder="Zipcode">
  			</div>

  				<button type="submit" class="btn btn-default" id="searchB">Search</button>

  				</form>	
			</div>
		</div>
			
		</div>

		<div class="container-fluid" >
			<div class="row" id="dg1" >
				<div class="col-md-2"></div>

				<div class="col-md-8">
					<img class="img-responsive" src="assets/img/dg1.svg">
				</div>

			</div>
		</div>