<div class="container-fluid" >
			<div class="row" >

				<div class="col-md-12">
					<img class="img-responsive" src="assets/img/banner.svg" alt="banner with animals" id="aBanner">
				</div>


		</div>


				<div class="col-md-1"></div>
				<div class="col-md-4" id="divtxt">

					<div class="mainbody">
					<h1 id="about">Our mission</h1>
					<p>To use Internet technology and resources to provide adopters and adoptees a safe place to facilitate the adoption process of pets in need.  Our site provides animal lovers the ability to search for a new pet that best fits their family's needs from the comfort of their own home, all while supporting local shelters, rescues and individuals also in need. 
					FurgotMeNot is an online, searchable database of animals in need of new homes. There are many sites on the web to aid families in locating a new furry family member. Our site provides users access to a directory of nearly 14,000 pets granted by the lists and directories updated daily by PetFinder.com.  However, our primary goal is to also provide an option for individual users and smaller adoption agencies the availability to add their pets in need as well.  Whether it is due to an illness, death in the family, financial crisis or so many other reasons, families often have to re-home a pet also.  This site allows them to list a pet in a safe environment dedicated solely to the safety and security of the pets listed on this site.  </p><br/></div>

					<div id="adoptionb">
						<a href="#"><img src="assets/img/dogbutton.svg" alt="dog button"></a>
						<a href="#"><img id="catbutton" src="assets/img/catbutton.svg" alt="cat button"></a>
					</div>

					<form class="form-horizontal list" action="login/check" method="POST">
						<div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">Username: </label>

						    <div class="col-sm-5">
						      <input type="text" id="un" name="users_name" class="form-control" id="inputEmail3">
						    </div>
						</div>

						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Password: </label>
						    <div class="col-sm-10">
						      <input type="password" id="inputPassword3" name="password">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default">Log In!</button>
						    </div>
						  </div>
						</form>
					</div>

				<div class="col-md-5" id="divtxt">

					
					<div class="mainbody">
						<p id="furryData">
						<h1 id="furry">Furry friend of the Month</h1>
						<img class="img-responsive" id="furryImg" src="assets/img/cat_1.jpg">
						<h1 class="furryTitle">KIRK</h1>
<p>Domestic Short Hair
Baby • Male • Small
CATS-CAN 
Oviedo FL</p>


<h1 class="furryTitle">ABOUT KIRK</h1>
<p>You can fill out an adoption application online on our official website.

Kirk, his three siblings and his mama were dumped on the doorstep on Spay and Save.
They have been fixed, vacainated and placed in a foster home.

They are very friendly and waiting for their new home with you.</p>



C.A.T.S.-C.A.N., Inc . is a non-profit organization based in Geneva, Florida. We operate a no-kill shelter and have cats and kittens up for adoption at Oviedo PetsMart. We screen each applicant. Please call or come by to see our kitties - 11:00 - 5:00 every Saturday and most Sunday's Noon to 4:00 at the Oviedo Petsmart adoption event. You can also visit a few of our resident cats every day in the Petsmart Cat room!

Cats-Can Does Not Permit Declawing - For more information on Declawing, please visit our Feline Care Tips Menu on our homepage and visit our webpages of wonderful cats that are already declawed looking for new homes.


Know someone who needs low-cost, high-quality spay/neuter services for their pets? Have them contact SpayNSave at 407-920-4894 for clinic dates, information and appointments. We work with feral cats, domestic cats and also offer spay and neuter services for dogs. Contact us today!<br><br>

  
<strong>MORE ABOUT KIRK
House trained • Spayed/Neutered • Current on vaccinations • Primary Color(s): Black & White or Tuxedo • Coat Length: Short</strong></p>


</p>
					</div>
					
				</div>
			</div>	
				


		<div class="container-fluid" >
			<div class = "row">

				<div class="col-md-1"></div>
s
				<div class="col-md-8">
					<img class="img-responsive" src="assets/img/dg1.svg">
				</div>

			</div>
		
<!-- <form class="create-update-form" action="/search" method="POST">
		<div class="form-group">
            <label for="gen">Type of Pet:</label>
            <input type="genus" id="genus" name="genus">
        </div>

        <button type="submit">Search!</button> -->
    </form>

                {{#each result}}

                <p>{{this.result}}</p>

                {{/each}}


		</div>


	
