<div class="container-fluid" >
			<div class="row" >

				<div class="col-md-12">
					<img class="img-responsive" src="assets/img/banner.svg" alt="banner with animals" id="aBanner">
				</div>


		</div>


				<div class="col-md-1"></div>
				<div class="col-md-4" id="divtxt">

					<div class="mainbody">
					<h1 id="about">Our mission</h1>
					<p>To use Internet technology and resources to provide adopters and adoptees a safe place to facilitate the adoption process of pets in need.  Our site provides animal lovers the ability to search for a new pet that best fits their family's needs from the comfort of their own home, all while supporting local shelters, rescues and individuals also in need. 
					FurgotMeNot is an online, searchable database of animals in need of new homes. There are many sites on the web to aid families in locating a new furry family member. Our site provides users access to a directory of nearly 14,000 pets granted by the lists and directories updated daily by PetFinder.com.  However, our primary goal is to also provide an option for individual users and smaller adoption agencies the availability to add their pets in need as well.  Whether it is due to an illness, death in the family, financial crisis or so many other reasons, families often have to re-home a pet also.  This site allows them to list a pet in a safe environment dedicated solely to the safety and security of the pets listed on this site.  </p><br/></div>

					<div id="adoptionb">
						<a href="#"><img src="assets/img/dogbutton.svg" alt="dog button"></a>
						<a href="#"><img id="catbutton" src="assets/img/catbutton.svg" alt="cat button"></a>
					</div>
					</div>

				<div class="col-md-5" id="divtxt">

					
					<div class="mainbody">
						<p id="furryData">
						<h1 id="furry">Furry friend of the Month</h1>
						<img class="img-responsive" id="furryImg" src="assets/img/dog1.jpg">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat nulla et enim dapibus vestibulum. Morbi luctus ornare ante lacinia egestas. Nam hendrerit diam dolor, sed blandit sem iaculis sed. Nam vitae elementum mauris. Suspendisse leo ex, laoreet sed lorem cursus, blandit tempor risus. Proin eget eros luctus, gravida velit ac, imperdiet eros. Pellentesque efficitur turpis quis leo blandit, quis tempor lectus vestibulum. Etiam non dictum enim. Donec augue sem, commodo vel elementum ut, sagittis in leo. Ut id ullamcorper dui. Sed interdum imperdiet neque, facilisis varius massa. Maecenas sollicitudin massa in augue dapibus auctor.</p>
					</div>
					
				</div>
			</div>	
				


		<div class="container-fluid" >
			<div class = "row">

				<div class="col-md-1"></div>
				<div class="col-md-4">
					<form class="form-horizontal list" action="login/check" method="POST">
						<div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">Username: </label>

						    <div class="col-sm-10">
						      <input type="text" id="un" name="users_name" class="form-control" id="inputEmail3">
						    </div>
						</div>

						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Password: </label>
						    <div class="col-sm-10">
						      <input type="password" id="inputPassword3" name="password">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default">Log In!</button>
						    </div>
						  </div>
						</form>
				</div>
				
				<div class="col-md-6">
					<img class="img-responsive" src="assets/img/dg1.svg">
				</div>

			</div>
		
<form class="create-update-form" action="/search" method="POST">
		<div class="form-group">
            <label for="spec">Species:</label>
            <input type="species" id="species" name="species">
        </div>

        <button type="submit">Search!</button>
    </form>

                {{#each result}}

                <p>{{this.result}}</p>

                {{/each}}


		</div>


	
