// get a larger input, and align it with submit button
.form-inline .form-group > div.col-xs-8 {
    padding-left: 0;
    padding-right: 0;
}
// vertical align label
.form-inline label {
    line-height: 34px;
}
// force inline control to fit container width
// http://getbootstrap.com/css/#forms-inline
.form-inline .form-control {
    width: 100%;
}
// Reset margin-bottom for our multiline form
@media (min-width: 768px) {
  .form-inline .form-group {
    margin-bottom: 15px;
  }
}

.under{
	border-bottom: 20px solid;
}
#aBanner{
	margin-top:20px;

}
#header{

background-color: #5bbbd3;
border-bottom: solid 5px white;

}
#smallLogo{
	margin-top: 20px;
}
#footer{
background-color: #5bbbd3;
padding: 20px;
text-align: center;
font-family: helvetica;	
}

body{

background-color:moccasin;

}
.mainbody{
	background-color: white;
	margin-top: 10px;

	padding: 15px;
	border-radius: 25px;
}
#divtxt{
	padding-top: 20px;
	margin-bottom: 30px;
}

#dog1{
	padding-bottom: 20px;
	margin-top: 20px;

}

#menu{
	margin-top: 120px;
	color: white;
	font-family: 'Gochi Hand', cursive;
	font-size: 2em;
	}

.menuItem{
	color: white;
	padding-left: 20px;
}

.menuItem:hover{
	color: yellow;
	text-decoration: none;
}

#headerpic{
	height:150px;
	margin:15px 0 15px 0;
}

#adoptionb{
	margin-bottom: 30px;
}

#catbutton{
	padding-left:30px;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#about{
	font-family: 'Gochi Hand', cursive;

}
.furryTitle{
	text-align: 	left;	
	font-family: 	'Gochi Hand', cursive;
}


#furryImg{
	width: 80%;
	margin-left: 	10%;
}
#dg1{
	margin-bottom: 20px;
}
#furry{
	font-family: 'Gochi Hand', cursive;
	text-align: center;
}
#newUserT{
	margin: 50px 0 50px 0 ;
	background-color: white;
	padding: 20px 0 20px 20px;
	border-radius: 25px;

}


.logo{
	width: 30px;
}

#footerP{
	color: white;
	text-align: center;
	font-family: 'Gochi Hand', cursive;
	font-size: 2em;
}

#listItB{
	background-color: #5bbbd3;
	color:white;
	margin-left: 25%;
}
.title{
	font-family: 'Gochi Hand', cursive;}
.title2{
	font-family: 'Gochi Hand', cursive;
	color:white;}

.mainbody2{
	background-color: #5bbbd3;
	margin-top: 10px;

	padding: 15px;
	border-radius: 25px;
}

.adoptions{
	font-family: 'Gochi Hand', cursive;
	color:#5bbbd3;
	font-size: 100px;
	text-align: center;}

.adoptions2{
	font-family: 'Gochi Hand', cursive;
	color:black;
	font-size: 50px;
	text-align: center;}

.adoptions3{
	font-family: 'Gochi Hand', cursive;
	color:black;
	font-size: 50px;
	text-align: left;}

#disclaimer{
	color:white;
	font-size:10px;
}

#dogFooter{
	margin-bottom: 	20px;
}
.p2{

	color:white;
}

#dogbutton2, #catbutton2{
	height: spx;
	margin-left: 10%;
}

.list{
	border: dashed 3px white;
	padding: 20px 25px 5px 25px;
	border-radius: 25px;
	margin-bottom: 20px;
}

#searchB{
	background-color: black;
	color:white;
	float: right;
	margin-right: 90px;

}