For Developers: Petfinder API
Check out some of the great ways developers are using the Petfinder API on our Development Partners Page. Want to tell us about your application? E-mail us at pets@petfinder.com.
Your API Information
Congratulations, you have access to the Petfinder API!
Welcome: Katie

API Key:  184c4ed26af892afee19463962a7e898
API Secret:  d02c141226516bfe4a942f49350e2672
API Status:  Active